* {
  margin: 0;
  padding: 0;
}

.main-container {
  background-image: url('./images/kavion1.jpg');
  background-size: cover;
}


.about-me{
  background-image: url('./images/jaben.jpg');
  background-size: cover;
}

.contacts {
  background-image: url('./images/kavion.jpg');
  background-size: cover;
}

.footer {
  text-align: center;
  
  
}